/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.article-btn{
  @apply flex items-center cursor-pointer  gap-2 text-xs shadow bg-gray-100 rounded-lg p-1 px-2 w-fit text-gray-800 hover:bg-gray-200 active:outline outline-1 outline-gray-500 active:shadow-lg;
}
h1{
  @apply text-2xl md:text-3xl;
}

p{
  @apply text-base leading-7 md:text-lg text-gray-800 font-sans tracking-wider;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}
.cdx-block {
  border: 1px solid lightgrey;
  border-left: 0;
  border-right: 0;
  padding: 1rem 0;
}

.codex-editor {
  border: 1px solid black;
}
.ce-delimiter {
}
.ce-inline-tool {
  width: 2rem;
}

.ce-toolbar {
  background-color: lightcyan;
}

.ce-toolbox {
  background-color: lightcyan;
  box-shadow: 10px 11px 11px -2px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 10px 11px 11px -2px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 10px 11px 11px -2px rgba(0, 0, 0, 0.23);
}

input[type='text'] {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

input[type='file']::file-selector-button {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
}

input[type='file']::file-selector-button:hover {
  background-color: lightgray;
}
