.blog__navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0.5rem;
}

.blog__brand {
  font-weight: bold;
  font-size: 2rem;
}
.blog__navbar a {
  text-decoration: none;
  color: black;
}

.main-body {
  position: relative;
  width: 100%;
}
.blog__navbar-links {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__navbar-links__logo {
  margin-right: 2rem;
}

.blog__navbar-links__logo h2 {
  font-size: 2rem;
  font-weight: 700;
}

.blog__navbar-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.blog__navbar-links-container {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-direction: row;
}

.blog__navbar-get-started {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.blog__navbar-links-container .links {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  cursor: pointer;
}

.get-started-btn {
  font-size: 1rem;
  padding: 0.6em 1.2em;
  border-radius: 1.5rem;
  background-color: #40c057;
  color: #fff;
  border: none;
  cursor: pointer;
}

.get-started-btn:hover {
  background-color: #2b8a3e;
}

.profile-picture {
  width: 2.2rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
}

profile-picture:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 750px) {
  .blog__navbar-links-container {
    display: none;
  }

  .blog__navbar-links__logo h2 {
    font-weight: 700;
  }

  .blog__navbar-get-started {
    gap: 0.5rem;
  }
  .get-started-btn {
    padding: 0.5rem 0.8rem;
  }
}

@media screen and (max-width: 550px) {
  .blog__navbar {
    width: 90% !important;
    margin: 0 auto;
  }
  .blog__navbar-get-started .link {
    display: none;
  }

  .bookmark-icon {
    display: none;
  }
}
