.name-email p {
  color: #868e96;
}
.custom-menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 340px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  margin-top: 0.5rem;
  padding: 1.5rem 1rem;
}

.custom-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-email {
  display: flex;
  flex-direction: column;
}

.name-email h4 {
  color: #212529;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
.name-email p {
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.profile-picture-submenu {
  width: 3rem;
  border-radius: 50%;
}

.underline {
  height: 0.05rem;
  background-color: #e9ecef;
  margin: 1.5rem 0;
}

.custom-links-profile {
  display: block;
  margin-bottom: 0.8rem;
}
.user-info .custom-links-profile {
  color: #495057;
}

.custom-links-profile:hover {
  color: black;
}

.sign-out-btn {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left;
  padding: 0;
  margin-bottom: 0;
}
