.article-summary {
  font-size: 1.375rem;
  color: #495057;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.article-container p,
.article-container li {
  font-size: 1.313rem;
  line-height: 2rem;
  color: rgba(41, 41, 41, 1);
}

.article-container b {
  color: #212529;
}
.article-container img{
  max-width: 100%;
}
.article-container h1:first-child {
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: -0.011em;
  font-weight: 400;
}

.article-container h1 {
  /* color: rgba(41, 41, 41, 1); */
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: -0.011em;
}

.article-container a:link {
  color: rgba(41, 41, 41, 1);
}

.article-container a:visited {
  color: rgba(41, 41, 41, 1);
}

.article-container a:hover {
  text-decoration: none;
}

.loading-component {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
}

.pulsate-bck {
  -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
  animation: pulsate-bck 0.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Media queries */
@media screen and (max-width: 600px) {
  .article-summary {
    font-size: 1.125rem;
  }

  .article-container p,
  .article-container li {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .article-container h1:first-child {
    font-size: 2.125rem;
    line-height: 2.625rem;
    letter-spacing: -0.016em;
  }

  .article-container h1 {
    font-size: 1.8rem;
    letter-spacing: -0.016em;
  }
}
